<!--  ***aula de angular  canal prograAMADA MENTE **** -->
<!--  **** https://youtu.be/4k8aCkFpHk0 **** -->


         <div *ngIf="alunoSelecionado">
            <div class="row">
              <div class="col-mr-auto">
                <app-titulo [titulo]="'Aluno:'+ alunoSelecionado"></app-titulo>
              </div>
              <div class="col-mt-1">
                <button class="btn btn-warning" (click) ='voltar()'> Voltar</button>
              </div>
            </div>
              <!--formulário-->
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
              </div>
            </form>
         </div>

         <div *ngIf="!alunoSelecionado">
          <app-titulo [titulo]="titulo" ></app-titulo>
             Nenhum selecionado
            <table class="table table-hover">
              <!-- bootstrap .....-->
              <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>  
                <th scope="col">Telefone</th>    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of alunos" 
                style="cursor: pointer;"   (click) = 'alunoSelect(aluno)'>  
                <th scope="row">{{aluno.id}}</th>    
                <td>{{aluno.nome}}</td>
                <td>{{aluno.sobrenome}}</td>
                <td>{{aluno.telefone}}</td>
              </tr>        
            </tbody>
            </table>
         </div>
