<!--  ***aula de angular  canal prograAMADA MENTE **** -->
<!--  **** https://youtu.be/4k8aCkFpHk0 **** -->

         <div class="row">
            <div class="col-sm-6" *ngIf="alunoSelecionado">
          <div class="row">
            <div class="col-mr-auto">
              <app-titulo [titulo]="'Cod.aluno: '+ alunoSelecionado.id"></app-titulo>
            </div>
            <div class="col-mt-1">
              <button class="btn btn-sm btn-danger" (click) ='voltar()'> 
                Fechar</button>
            </div>
          </div>
            <!--formulário-->
          <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
              <div class="form-group">
                <label for="formGroupExampleInput">NOME</label>
                <input type="text"  formControlName="nome" class="form-control">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">sobrenome</label>
                <input type="text"  formControlName="sobrenome" class="form-control" >
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">telefone</label>
                <input type="text"  formControlName= "telefone" class="form-control" >
              </div>
              <div class="form-group">
               <hr>
               <button class="btn btn-success" [disabled]="!alunoForm.value">
                enviar_form
              </button>
              </div>
          </form>
            </div>
              <!-- separando/colocando lado a lado com ngClas os dados-->
            <div  [ngClass]="{'col-sm-6' : alunoSelecionado, 'col-sm-12':!alunoSelecionado}">
              <app-titulo [titulo]="titulo" ></app-titulo>
                Nenhum selecionado
                <table class="table table-hover">
                  <!-- bootstrap .....-->
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">VISUALIZAR</th>
                    <th scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Disciplina</th>  
                    <th scope="col">Telefone</th>    
                    <th scope="col">Opções</th>   
                  </tr>
                </thead>
                <tbody>
                  <th> tela alunoSelect</th>
                  <tr *ngFor="let aluno of alunos" >                    
                    <td> <button (click) = 'alunoSelect(aluno)' class="btn btn-sm btn-warning">detalhe</button> </td>
                    <td scope="row">{{aluno.id}}</td>    
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.sobrenome}}</td>
                    <td>{{aluno.telefone}}</td>
                    <td>
                      <div class ="btn-group">                       
                        <button class="btn btn-sm btn-outline-primary">editar</button>
                        <button class="btn btn-sm btn-danger">exluir</button>
                      </div>
                    </td>
                  </tr>        
                </tbody>
                </table>
            </div>
         </div>


