
<!-- formulário -->
<div *ngIf="profSelecionado">
  <div class="row">
    <div class="col-mr-auto">
      <app-titulo [titulo]="'Professor: '+ profSelecionado"></app-titulo>
    </div>
    <div class="col-mt-1">
      <button class="btn btn-warning" (click) ='voltar()'>voltar</button>
    </div>
  </div> 
           <!--formulário-->
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
  </form>
</div>
  <!--.............................--> 

 <div *ngIf="!profSelecionado">

  <app-titulo [titulo]="titulo"></app-titulo>
     Nenhum professor Selecionado....
    <table class="table table-haver">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">NOME</th>
          <th scope="col">DISCIPLINA</th>    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professores" style="cursor: pointer;"
        (click)="profSelect(professor)">
          <th scope="row">{{professor.id}}</th>      
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>     
        </tr>        
      </tbody>
    </table>
</div>
