<div *ngIf="professorSelecionado">
  <div class="row d-flex">
    <div class="col-mr-auto">
      <app-titulo [titulo]="'Professor: '+ professorSelecionado.id"></app-titulo>
    </div>
    <div class="col-mt-1">
      <button class="btn btn-warning" (click) ="voltar()">
        voltar a lista professor
      </button>
    </div>
  </div> 
           <!--formulário-->
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">NOME PROFESSOR</label>
        <input type="text" value="{{professorSelecionado.nome}}" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">DISCIPLINA </label>
        <input type="text" value="{{professorSelecionado.disciplina}}" class="form-control" >
      </div>
  </form>
</div>
  <!--.............................--> 

 <div *ngIf="!professorSelecionado">

  <app-titulo [titulo]="titulo"></app-titulo>
     Nenhum professor Selecionado....
    <table class="table table-haver">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">NOME</th>
          <th scope="col">DISCIPLINA</th>    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professores" style="cursor: pointer;"
        (click)="profSelect(professor)">
          <th scope="row">{{professor.id}}</th>      
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>     
        </tr>        
      </tbody>
    </table>
</div>
